<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EventStore.Database" connectionString="Data Source=.\SQL2014;Database=master;User ID=sa;Password=Password12!" providerName="System.Data.SqlClient"/>       
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
